/* Styling of the whole page */
*{
  background-color: #FFF8F3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #112B3C
}


/* Styling of the header */
header{
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #68A7AD;
}
   
.title{
  background-color: #68A7AD;
  color:#EFEAD8 ;
  
  }

.title:hover {
  color: #FFF8F3;
}

h1{
  color: #68A7AD;
}



/* Styling of the nav links */

a{
  background-color: #68A7AD;
}

nav{
background-color: #68A7AD;
text-decoration: none;
display: flex;
justify-content: space-between;
color: #6998AB;
cursor: grab;
}

nav a:hover {
color: #FFF8F3;
}


.nav-link {
background-color: #68A7AD;
display: flex;
justify-content:space-between;
}


.ul {
background-color: #68A7AD;
list-style: none;
display: flex;
justify-content: space-between;
min-width: 300px;
}

ul{
background-color: #F7E2E2 ;
}

li{
background-color: #F7E2E2 ;
}



/* Styling of the container1, which includes bio and profile picture */

.bio{
  padding: 100px 0px 0px 200px;
  display: flex;
  flex-direction: column;
  line-height: 0.5;
}

.image {
  width: 200px;
  height: 200px;
  height: auto;
  float: right;
  margin: 100px 200px 0px 0px ;
  padding: 3px;
}

.container1{
  padding-bottom: 200px;
}


/* From here is the styling for the pictures */

/* Title first */
.my-work {
  margin-bottom: 50px ;
  background-color: #68A7AD; 
  color:#EFEAD8 ;
  font-size: 30px;
  padding: 25px 50px;

}

.my-work:hover {
  color: #FFF8F3;
}

/* Pictures */

.image1 {
  display: flex;
  justify-content: start;
}

.image1:hover {
  opacity: 0.5;
}

/* Container holding the image and the text */
.container {
  position:relative;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

/* Top right text */
.top-right {
  position: relative;
  top: 28px;
  right: 26px;
  font-size:60px;
  opacity: 0.6;
}

.puppy{
padding-top: 100px ;
display: flex;
justify-content: start;
 
}

.puppy:hover {
  opacity: 0.5;
}

/* Container holding the image and the text */
.container2 {
  position: relative;
  text-align: center;
  color: white;
  margin: 20px 100px 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

/* Top left text */
.top-left {
  position: relative;
  top: 75px;
  left: 16px;
  opacity: 0.6;
  font-size: 30px;
}

.flying{
  display: flex;
  justify-content: end;
  padding: 50px 700px ;
   
  }
  
.flying:hover {
    opacity: 0.5;
  }

/* Container holding the image and the text */
.container3 {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 28px;
  right: 26px;
  font-size:60px;
  opacity: 0.6;
}

  
.late{
    display: flex;
    justify-content: start;
    padding: 50px 50px ;
     
    }
    
.late:hover {
      opacity: 0.5;
    }

/* Sections from the nav bar */
section {
  margin: 200px ;

}

.about-me {
  margin-bottom: 50px ;
  background-color: #F7E2E2 ;
  
}

.contact {
  margin-bottom: 50px ;
  background-color: #F7E2E2 ;
}

article{
  background-color: #F7E2E2 ;
  padding: 35px;
  
}

h2 {
  background-color: #F7E2E2 ;
}

.one{
  background-color: #F7E2E2 ;
}

/* 
nav ul {
 
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    background-color: #406882;
  }
  
  nav a {
    color: #68A7AD;;
    font-weight:lighter;
    text-decoration: none;
    background-color: #406882;
  }
  
  nav a:hover {
    color: #1A374D;
  }

  nav li::before,
  nav li::after {
    content: ' \203B';
    color: #8ac4ff;
    padding: 1%;
    background-color: #406882;
    text-decoration: none;
  } */
  



/* Styling of the footer */
footer{
    padding: 25px 50px;
    background:#68A7AD;;
    text-align: center;
    display: block;  
}

.footer{
  background: #68A7AD;
  color: #EFEAD8 ;
}


/* Media Queries */

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .container2 {
    width: 50%;
  }
  .container3 {
    width: 50%;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .container2 {
    width: 100%;
  }
  .container3 {
    width: 100%;
  }
}
